.hotel-list-container {
    width: 100%;
  }
  
.hotel-list-background {
  width: 100%;
  height: 10vh;
  min-height: 300px;
}

.hotel-list-background img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 30px 30px;
  object-fit: cover;}

  .hotel-list-wrapper {
    width: 80%;
    margin: 20px auto;
  }
  
  .hotel-list {
    display: flex;
    flex-direction: column;       /* 모든 아이템을 한 줄에 배치 */
    align-items: center;
    gap: 20px;               /* 아이템 사이의 간격 */
    padding: 10px 0;
  }
  
  .hotel-box {
    flex: 0 0 auto;          /* 크기 변경 없이 고정 너비 유지 */
    width: 80vh;            /* 원하는 고정 너비 (예: 300px) */
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }

  .hotel-box-background {
    display: flex;
    width: 100%;
    padding: 2vh;
    background-color: #fff;
  }

  .hotel:hover {
    transform: translateY(-5px);
  }
  
  .hotel-image,
  .hotel-info,
  .hotel-reserve {
    flex: 1;
  }

  .hotel img {
    width: 90%;
    height: 200px;
    object-fit: cover;
    border-radius: 2vh;
  }
  
  .hotel-info {
    margin-left: 1vh;
  }
  
  .hotel-info h2 {
    margin: 0 0 10px;
    font-size: 20px;
  }
  
  .hotel-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }

  .hotel-booking {
    margin: 0;
  }
  
  /* 반응형 디자인 */
  @media (max-width: 768px) {
    .hotel {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .hotel {
      width: 100%;
    }
  }
  