.map-container {
    width: 100%; 
    display: flex;
    justify-content: center;
    
}

.map-background {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    /* background-color: rgb(229, 237, 238); */
    /* padding: 20px; */
    /* border-radius: 100px 100px 50px 50px; */
}

.map-wrapper {
    /* position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%); */
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-color: rgb(235, 237, 241);
    z-index: 1;
}

.map-overlay {
    position: absolute; 
    bottom: 13vh;
    left: 5vh;
    width: 50vh;
    height: 40vh;
    padding: 2vh;
    background-color: rgba(240, 240, 246, 0.926);
    border-radius: 20px;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}
