.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 400px;
    background: lightyellow;

}

.header-nav ul {
    display: flex;
}

.header-nav li {
    list-style: none;
    margin: 30px;
}

.header-nav li a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    background-color: rgb(224, 224, 171)
}

.header-right-box {
    
}
